<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanhackathon.dreamshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">

        <activity
            android:name=".act.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".act.SignInActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".act.MainActivity"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".act.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".act.DreamLayersActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".act.DreamComposition"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>